.drpdn {
  border-radius: 5px;
  padding-bottom: 4px;
}

@media only screen and (max-width: 400px) {
  .drpdn {
    width: 52%;
    margin-left: -15px;
    border-radius: 5px;
    padding-bottom: 0px;
    margin-top: 0px;
    height: 23%;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 405px) {
  .drpdn {
    width: 57%;
    padding-bottom: 0;
  }
}
