/* .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.clear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

*/
/* 
.form {
  margin-top: 50px;
} */

.main {
  /* flex: 1; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: yellow;
  width: 100%;
  padding: 0 16px; */
}

.dropdn {
  /* margin-top: 14px; */
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.search {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px; */
}

.clearbtn {
  /* margin-top: 8px; */
  border-radius: 5px;
  /* align-items: center; */
  color: #fff;
  border: none;
  margin-left: 10px;
  background-color: rgb(7, 155, 224);
}

.input {
  /* margin-left: 115px; */
  border-radius: 5px;
  border: none;
  /* padding-left: 50px; */
  /* padding: auto; */
  padding-bottom: 4px;
  align-items: center;
}

.searchbtn {
  border-radius: 5px;
  /* align-items: center; */
  color: #fff;
  border: none;
  margin-left: 8px;
  /* margin-left: 10px; */
  background-color: rgb(6, 136, 243);
}

.searchbtn:hover,
.searchbtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@media only screen and (max-width: 400px) {
  .input {
    width: 45%;
    height: 0%;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 400px) {
  .clearbtn {
    width: 24%;
    font-size: 85%;
  }

  .searchbtn {
    width: 24%;
    font-size: 90%;
  }
}

@media only screen and (min-width: 405px) {
  .input {
    height: 2%;
    width: 49%;
  }
}

/*@media only screen and (max-width: 400px) {
  .searchbtn {
    line-height: inherit;
    font-family: inherit;
    margin-left: 28px;
    font-weight: bolder;
    font-size: 11px;
    box-sizing: content-box;
    width: 32%;
    border-radius: 5px;
    align-items: center;
    color: #fff;
    border: none;
    background-color: rgb(6, 136, 243);
  }
}



@media only screen and (max-width: 400px) {
  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin-right: 650px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin-left: -161px;
  }
  .fa {
    margin-top: 3px;
    box-sizing: border-box;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: x-large;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
} */
