.btnlight {
  background-color: rgb(250, 246, 246);
  color: black;
  margin-right: 14px;
}

.card {
  height: 200px;
  width: 100px;
  color: black;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.roundimg {
  border-radius: 5%;
  height: 110px;
  width: 150px;
  object-fit: contain;
  background-color: aqua;
}

.btndark {
  background-color: black;
  color: #fff;
}

.cardtextcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.badgeprimary {
  background-color: crimson;
  color: #fff;
}

.badgesuccess {
  background-color: aquamarine;
  color: #fff;
}

.badgelight {
  background-color: bisque;
  color: #fff;
}

.badgedark {
  background-color: coral;
  color: #fff;
}

.blog {
  background-color: aqua;
  color: black;
}
