.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.strip {
  box-sizing: border-box;
  /* margin-right: 500px;
  margin-top: 50px; */
  /* margin: 50px 500px 50px 200px; */
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  /* height: 48px !important;
  width: 48px !important;
  border-radius: 50% !important; */
}

.img {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50% !important;
  margin-bottom: 10px;
  margin-right: 30px;
}

.btn {
  padding: 4px;
  align-items: center;
  background-color: rgba(15, 1, 1, 0.507);
  color: #fff;
  border-radius: 5px;
  margin-left: 400px;
}

.imgDisplay {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text {
  margin-right: 240px;
}

.publicrepobtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 4px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.publicrepobtn:hover {
  color: #fff;
}

.blogbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 33px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.blogbtn:hover {
  color: #fff;
}

.locationbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 18px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.locationbtn:hover {
  color: #fff;
}

.htmlbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 13px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.htmlbtn:hover {
  color: #fff;
}

.followersbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 13px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.followersbtn:hover {
  color: #fff;
}

.publicgistbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 4px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.publicgistbtn:hover {
  color: #fff;
}

.tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 57px;
}

.profiletxt {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-weight: 490;
}

.profiletxt:hover {
  color: black;
}

.normaltxt {
  font-weight: bolder;
  align-text: center;
}

.tablecont {
  margin-left: 77px;
}

.crdcont {
  margin: 10px;
}

.orgUrltbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 4px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 91px;
  cursor: pointer;
  margin-left: 10px;
}

.orgUrltbtn:hover {
  color: #fff;
}

.reposUrltbtn {
  font-weight: bolder;
  background-color: crimson;
  text-decoration: none;
  border: none;
  color: white;
  padding: 4px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 91px;
  cursor: pointer;
  margin-left: 59px;
}

.reposUrltbtn:hover {
  color: #fff;
}

@media only screen and (max-width: 300px) {
  .strip {
    margin-right: 4%;
    width: 100%;
    font-size: 63%;
    display: flex;
    align-items: center;
  }

  .reposUrltbtn {
    font-size: 63%;
    width: 104%;
    height: 49%;
    font-weight: 800;
    align-items: center;
    padding-left: 30%;
    margin-left: 10%;
  }

  .orgUrltbtn {
    font-size: 52%;
    width: 92%;
    height: 49%;
    font-weight: 800;
  }

  .profile {
    width: 12%;
  }

  .profiletxt {
    font-weight: 600;
    font-size: 67%;
  }
}

@media only screen and (max-width: 300px) {
  .orgUrltbtn {
    width: 44%;
    padding-left: 3%;
    height: 52%;
    margin-left: 16%;
  }

  .btn {
    margin-left: -1280%;
    margin-top: 271%;
  }
}
