body {
  padding: 0 !important;
  margin: 0 !important;
}

.child {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  width: 80%;
  justify-content: center;
}
.navbar {
  background-color: #00688b;
  color: #fff;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

.text {
  /* margin-right: 52%; */
  display: inline-block;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

.navCont {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-right: 200px; */
}

/* .route {
  margin-left: 800px;
} */

/* display: flex;
flex-direction: row;
justify-content: center;
border-radius: 10px;
margin-right: 367px;
} media query*/

/* .drpdn{
  width: 101%;
  /* margin-left: 150px; */
/* border-radius: 5px; */
/* padding-left: 50px; */
/* padding-bottom: 4px;
  margin-top: 21px; */
/* } 

search btn width: 18%;
*/

/* @media only screen and (max-width: 400px) {
  .text {
    margin-top: 5px;
    width: 22%;
    font-size: 100%;
  }
}

@media only screen and (min-width: 405px) {
  .text {
    font-size: 100%;
  }
} */
/* media queries..................... */
/* .Navbar_navbar__2QI-p {
    box-sizing: border-box;
    height: 30vw;
    background-color: rgb(245, 30, 95);
    color: #fff;
    width: 100vw;
    overflow: hidden;

    .Search_main__jVBpD {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .Navbar_text__1L28N {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 810px;
        margin-top: 21px;
    } */

/* @media only screen and (max-width: 400px) {
  .navbar {
    box-sizing: border-box;
    height: 30vw;

    /* // background-color: rgb(245, 30, 95); */
/* color: #fff;
    width: 100vw;
    /* overflow: hidden; */

/* .navCont 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-left: 218px;
  }*/
